<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>ACHIEVEMENTS</h2>
<div class="summary">
    <ul>
        <li> Developed an Android application "<b>Library Mangement System</b>" which is useful for the effective management of a library.</li>
        <li> Developed a Desktop application for "<b>E-Book Management system</b>" for the subject Object Oriented Analysis and Design.</li>
        <li> Presented a paper on "<b>RFID based smart trolley</b>" in a National level symposium "<i>Tecarnival 2k17</i>" held at Trichy Engineering College, Tiruchirapalli.</li>
        <li> Attended a workshop subjected on "<b>Internet of Things</b>" conducted by Saranathan College Of Engineering, Tiruchirapalli.</li>
        <li> Attended a workshop subjected on "<b>VMware Technologies</b>" conducted by Saranathan College Of Engineering, Tiruchirapalli.</li>
    </ul>
</div><!--//summary-->
</section><!--//section-->
