<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>ACHIEVEMENTS</h2>
<div class="summary">
    <ol>
        <li> Presented a paper on "RFID based smart trolley" in a National level symposium "Tecarnival 2k17" held at Trichy Engineering College, Tiruchirapalli.</li>
        <li> Attended a workshop subjected on "Internet of Things" conducted by Saranathan College Of Engineering, Tiruchirapalli.</li>
        <li> Attended a workshop subjected on "VMware Technologies" conducted by Saranathan College Of Engineering, Tiruchirapalli.</li>
    </ol>
</div><!--//summary-->
</section><!--//section-->
