<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>CERTIFICATIONS</h2>
<div class="summary">
    <ul>
        <li>"<i>Microsoft Training Associate:Database Fundamentals certificate</i>" by <b>MICROSOFT</b> on 21/03/2017</li>
        <li>"<i>Certificate for completion of C Training</i>" by <b>IIT Bombay</b> on 26/09/2016.</li>
        <li>"<i>Certificate for completion of Cpp Training</i>" by <b>IIT Bombay</b> on 27/12/2016.</li>
        <li>"<i>Python 3 certificate</i>" by <b>SOLOLEARN</b> on 05/04/2017</li>
    </ul>
</div><!--//summary-->
</section><!--//section-->
