 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Bachelor of Technology in Information Technology</h4>
    <h5 class="meta">Saranathan college of Engineering</h5>
    <div class="time">2014 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Higher Secondary</h4>
    <h5 class="meta">Chelammal Matriculation Higher Secondary School</h5>
    <div class="time">2012 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
