<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Implant Trainee</h3>
                            <div class="time">June 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">CodeBind Technologies , Trichy.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The Implant training was given by trained professionals in the field of Web Development where the trainees were made to work on different Web Development softwares and were given intense training for excelling in HTML, CSS, JAVASCRIPT, PHP etc.</p>  
                        <p>During the training, I worked with three more members as a group and worked on developing a website for a Cinema-Theatre which provided services like Displaying the Schedule, Booking Tickets etc.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
