<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>I have worked in a few mini-projects and they are listed below</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">Library Management System</span> - 
                  <span class="project-tagline">An Android application which is used for the effective management of a library. The application is useful for maintaining records about the books currently borrowed by the custmers, the return date for the books, the fine amount to be collected, the customers who have currently registered for membership etc.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">E-Book Management System</span> - 
                    <span class="project-tagline">A simple Desktop application for the subject "Object Oriented Analysis and Design" </span>
                </div><!--//item-->
            </section><!--//section-->
